body, .wrapper {
  margin: 0px;
  padding: 0;
}
label + input {
  margin-left: 10px;
}
input + label {
  margin-left: 20px;
}
input + button {
  margin-left: 20px;
}
input {
  font-size: 16px;
  padding: 16px;
}
button {
  font-size: 16px;
  padding:16px;
}

.app,
.container,
.sub1,
.sub2,
.counters {
  font-family: courier;
  margin: 0px;
  padding: 0;
}


.app {
  color: red;
}

.container {
  background-color: rgba(100,255,255, 0.2);
}
.sub1 {
  flex: 1;
  background-color: rgba(255,255,100, 0.2);
}
.sub2 {
  flex: 1;
  background-color: rgba(255,100,255, 0.2);
}
.container_wrapper {
  flex: 1;
}
.wrapper {
  padding: 20px;
}

.counters {
  background-color: rgba(255,200,200, 0.2);
}
.counter__count {
  margin-left: 10px;
}
.flex_row {
  display: flex;
  justify-content: space-between;
}
